<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tvtestUISwitch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30E2904F1C7FF8C7008F26B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E290601C7FF8C8008F26B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E2906B1C7FF8C8008F26B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
